ROOT_MODEL=

GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
GOOGLE_CLOUD_LOCATION_ZONE=

GOOGLE_GENAI_USE_VERTEXAI=

MODEL_ARMOR_TEMPLATE_ID=

# AlloyDB (Terraform password & MCP database name)
TF_VAR_alloydb_password=""
ALLOYDB_DATABASE=


# Cloud Run - MCP Toolbox service endpoint
TOOLBOX_URL=


# Agent Runtime
AGENT_SERVICE_ACCOUNT=
LOGS_BUCKET_NAME=


# Network
VPC_NETWORK_NAME=


# PSC
PSC_NETWORK_ATTACHMENT=


# DNS
DNS_MODEL_ARMOR_DOMAIN_NAME=
DNS_RUN_APP_DOMAIN_NAME=